/**
CSS继承
 */
h1 {
    color: red;
}

/**
CSS样式会一直向下传播，知道没有子元素为止
但是子元素不会向上传播，但是有个特例，应用到body元素的背景
样式可以传递到html元素，但是有些属性不会继承，比如border元素

**但是最好不要依赖继承，因为有些游览器有bug

继承属性是零特性，通配符是0特性，而green覆盖了red特性，所以继承特性最弱
 */
/*ul {
    color: gold;
    font-size: xx-large;
}*/

* {
    color: green;
}