#myDiv {
    width: 400px;
    height: 200px;
    background-color: aqua;
}

#my_p {
    background-color: red;
    border: black solid;
    padding-left: 100px;
    width: auto;
    margin-right: -20px;
    margin-left: 10px;
}